.image-grid {
    display: flex;
    justify-content: center; /* Center content horizontally */
  }
  

.figure-image {
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    list-style-type: none; /* Remove default list styles */
    padding: 0;
  }
  
  .image-item {
    width: 48%; /* Set width of each image item */
    margin-bottom: 20px; /* Add some spacing between items */
    padding: 20px;
  }

  /* Create two equal columns that sits next to each other */
.col {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }

  .col {
    margin-top: 8px;
    vertical-align: middle;
  }

  .figure-caption {
    font-size: x-large;
    font-weight: bold;
  }

  .pseudo-3d-image {
    position: relative;
    display: inline-block;
    border-radius: 40px;
  }
  
  .pseudo-3d-image img {
    display: block;
    transition: transform 0.3s ease-in-out;
  }
  
  .pseudo-3d-image:hover img {
    transform: translate(8px, 8px); /* Move the image slightly on hover to create depth */
  }
  