<div *ngIf="message" class="alert alert-info">
  {{ message }}
</div>

<div class="frame-container">
  <div class="frame"> <!-- Added frame class to wrap the content -->
    <div class="row">
      <div class="col text-center">
        <h1 style="margin-top: 5%; margin-bottom: 5%;">MathVerse Topics</h1>
      </div>
    </div>
    <div class="container d-flex justify-content-center">
      <div class="image-grid">
        <div *ngIf="topics && topics.length > 0">
          <h2>Topics</h2>
          <ul>
            <li *ngFor="let topic of topics">{{ topic }}</li>
          </ul>
        </div>
        <div *ngIf="!topics || topics.length === 0">
          <p>No topics available.</p>
        </div>
      </div>
    </div>
  </div>


