<!-- Header section -->
<header id="header">
    <div class="container px-5">
      <div class="row gy-5">
        <div class="col-xxl-12 display-5 fw-bold align-items-center" id="PageTitle">
          <span class="text-align">MathVerse Math Practice</span>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Navbar section (add navigation links or other content here) -->
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <!-- Add your navigation links or other content here -->
  </nav>
  
<!-- Router outlet for displaying routed components -->

  <router-outlet></router-outlet>
  <app-login></app-login>
  <app-home></app-home>
  <app-number-sets></app-number-sets>
  
  

<footer>
    <!-- Your footer content -->
</footer>