<div class="container">
    <div class="row mb-5 ">
        <h2 class="text-center">MathVerse makes learning math fun and easy for everyone! </h2>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
                <img src="../../assets/images/Homepage Images/ct_male_struggle.png" class="card-img-top" alt="Frustrated Student">
                <div class="card-body">
                    <h5 class="card-title text-center">Struggle With Math?</h5>
                    <p class="card-text text-center">You know how sometimes math can be boring with just books and worksheets? </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col">
                <div class="card shadow p-3 mb-5  bg-body-tertiary rounded" style="width: 18rem;">
                    <img src="../../assets/images/Homepage Images/WelcomeToTheMathVerse.png"  class="card-img-top" alt="Welcome to the MathVerse">
                    <div class="card-body text-center">
                        <h5 class="card-text text-center">Learn the MathVerse Way </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
                <img src="../../assets/images/Homepage Images/ct_female_happy.png" autoplay class="card-img-top" alt="Happy Student">
                <div class="card-body">
                    <h5 class="card-title text-center">Learn to Love Math!</h5>
                    <p class="card-text text-center">So, whether you love math or find it tricky, MathVerse has your back.</p>
                </div>
            </div>

        </div>
        
    </div>
</div>
