<div class="frame-container">
  <div class="frame"> <!-- Added frame class to wrap the content -->
    <div class="row">
      <div class="col text-center">
        <h1 style="margin-top: 5%; margin-bottom: 5%;">Login In</h1>
      </div>
    </div>

    <div class="container d-flex justify-content-center">
      <form class="d=flex" id="loginForm" style="width:25vw" [formGroup]="loginForm" (ngSubmit)="onSubmit()" (ngSubmit)="forgotPasswordClick()"
        (ngSubmit)="needToRegisterClick()">
        <div class="col">
          <div class="form-group mb-4">
            <label for="inputEmail" class="col-form-label col-form-label-lg">Email</label>
            <input type="email" class="form-control " id="inputEmail" placeholder="Email">
          </div>

          <div class="form-group mb-4">
            <label for="inputPassword" class="col-form-label col-form-label-lg">Password</label>
            <input type="password" class="form-control " id="inputPassword" placeholder="Password">
          </div>

          <div class="form-group row">
            <button type="button" class="btn btn-primary btn-lg btn-block mt-3 mb-3">Login Up</button>
          </div>
          <div class="form-group row">
            <button type="button" class="btn btn-primary btn-lg mt-3 mb-3">Forgot Password?</button>
            <p class="text-center">New To MathVerse? <button class="btn btn-link">Signup</button></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
