.frame-container {
  padding: 40px; /* Add padding around the frame */
  display: flex;
  justify-content: center; /* Center horizontally */
}

.frame {
  border: 1px solid #ccc; /* Set border style */
  border-radius: 10px; /* Add rounded corners */
  padding: 20px; /* Add padding around the content */
  
}
@media (min-width: 576px) { /* Medium screens and above */
  .frame {
    width: 50%; /* Set width to 75% for medium screens and above */
  }
}

.row-content {
  padding-bottom: 5%;
  padding-top: 5%;
}

.custom-row {
  height: auto; /* Adjusted height to accommodate content */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Distribute space between the buttons */
  margin-top: 20px; /* Adjust the margin as needed */
  align-items: center; /* Vertically center the content */
  justify-content: center;
}

.button-container button {
  margin-right: 5px; /* Add margin between the buttons */
}

/* Ensure buttons have equal width */
.button-container .btn {
  flex: 1; /* Make buttons take equal space */
}

h1 {
  font-weight: 900;
  font-size: 28px;
}