
<div class="container"> <!-- New container for padding -->
  <div class="row justify-content-center"> <!-- Center the frame-container -->
    <div class="frame-container"> <!-- Container with padding around the frame -->
      <div class="frame"> <!-- Added frame class to wrap the content -->
        <div class="container">
          <div class="row text-center" id="LoginHeading">
            <div class="row-content">
              <h1>Login</h1>
            </div>
          </div>

          <div class="row justify-content-center custom-row"> <!-- Added custom-row class -->
            <div class="col-12 col-md-6"> <!-- Set the container to occupy 6 columns on medium screens and above -->
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3 row">
                  <label for="emailInput" class="col-sm-3 col-form-label">Email address:</label>
                  <div class="col-sm-9"> <!-- Adjusted column size to occupy 9 columns on screens larger than small -->
                    <input type="email" class="form-control" id="emailInput" name="email" formControlName="email" placeholder="name@example.com" required>
                  </div>
                </div>
  
                <div class="mb-3 row">
                  <label for="passwordInput" class="col-sm-3 col-form-label">Password:</label>
                  <div class="col-sm-10"> <!-- Adjusted column size to occupy 9 columns on screens larger than small -->
                    <input type="password" class="form-control" id="passwordInput" name="password" formControlName="password" placeholder="password" required>
                  </div>
                </div>
  
                <div class="mb-3 row button-container"> <!-- Moved button container within the same grid -->
                  <div class="col-sm-9 offset-sm-3 d-flex"> <!-- Adjusted column layout to align buttons with inputs -->
                    <button type="submit" class="btn btn-primary me-2">Login</button> <!-- Added me-2 class for margin between buttons -->
                    <button type="button" class="btn btn-secondary">Forgot Password</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
