<p>status-404 works!</p>
<div class="frame-container">
    <div class="frame"> <!-- Added frame class to wrap the content -->
      <div class="row">
        <div class="col text-center">
          <h1 style="margin-top: 5%; margin-bottom: 5%;">MathVerse Topics</h1>
        </div>
      </div>
      <div class="container d-flex justify-content-center">
        <div class="image-grid">
          
              <img src="../../assets/images/under_construction.jpg" alt="Under Construction" > 
         
        </div>
      </div>
    </div>